/* App.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  max-width: 400px;
  padding: 20px;
  text-align: center;
}

.link {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #1d9bf0;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  text-decoration: none;
}

.link:hover {
  background-color: #0a78b9;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

/* Add the following style to round the submit button */
.button {
  border-radius: 20px;
  /* Add any additional styles for the button */
}

.river {
  display: flex;
  flex-direction: row;
}

.header {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
}

.content {
  flex: 4;
  padding: 20px;
}

.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  border-left: 1px solid #ccc;
}
